on:
  workflow_call:
    inputs:
      rust-toolchain:
        description: "Rust toolchain to use"
        default: "stable"
        required: false
        type: string
      runs-on:
        description: "The type of machine to run the job on"
        default: "ubuntu-latest"
        required: false
        type: string
      rust-target:
        description: "Rust target to use"
        default: "wasm32-unknown-unknown"
        required: false
        type: string
      sc-meta-version:
        description: "dharitri-sc-meta version"
        default: ""
        required: false
        type: string
      drt-go-scenario-version:
        description: "sc-go-scenario version"
        default: ""
        required: false
        type: string
      wasm-opt-version:
        description: "The wasm-opt version to use"
        default: "108"
        required: false
        type: string
      path-to-sc-meta:
        description: "dharitri-sc-meta from local"
        default: ""
        required: false
        type: string

jobs:
  setup:
    name: Setup Environment
    runs-on: ${{ inputs.runs-on }}
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v5

      - name: Install rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: ${{ inputs.rust-toolchain }}
          target: ${{ inputs.rust-target }}

      - name: Install wasm-opt
        run: |
          wget https://github.com/WebAssembly/binaryen/releases/download/version_${{ inputs.wasm-opt-version }}/binaryen-version_${{ inputs.wasm-opt-version }}-x86_64-linux.tar.gz
          tar -xvf binaryen-version_${{ inputs.wasm-opt-version }}-x86_64-linux.tar.gz
          echo "$(pwd)/binaryen-version_${{ inputs.wasm-opt-version }}/bin" >> "$GITHUB_PATH"

      - name: Install Twiggy
        if: ${{ !contains(inputs.runs-on, 'self-hosted') }}
        run: cargo install twiggy

      - name: Install prerequisites
        run: |
          if [[ -n "${{ inputs.path-to-sc-meta }}" ]];
          then
              cargo install --path ${{ inputs.path-to-sc-meta }} --force
          elif [[ -z "${{ inputs.sc-meta-version }}" ]];
          then
              cargo install dharitri-sc-meta --locked --force
          else
              cargo install dharitri-sc-meta --version ${{ inputs.sc-meta-version }} --locked --force
          fi

          if [[ -z "${{ inputs.drt-go-scenario-version }}" ]];
          then
              sc-meta install drt-go-scenario
          else
              sc-meta install drt-go-scenario --tag ${{ inputs.drt-go-scenario-version }}
          fi

          which wasm-opt
          which sc-meta
          which drt-go-scenario

          sc-meta --version
          drt-go-scenario --version
          wasm-opt --version

      - name: "Tar sc-meta"
        run: |
          tar -cvf sc_meta.tar \
            "$(which sc-meta)" \
            "$(which wasm-opt)" \
            "$(find "$(pwd)/binaryen-version_${{ inputs.wasm-opt-version }}" -name "libbinaryen.a")"

      - name: "Tar drt-go-scenario"
        run: |
          SCENARIO_PATH=$(which drt-go-scenario)

          LIB_WASMER=$(find "$HOME" -name "libwasmer_linux_amd64.so" -print -quit)
          LIB_C_API=$(find "$HOME" -name "libvmexeccapi.so" -print -quit)

          echo "Found Binary: $SCENARIO_PATH"
          echo "Found Wasmer: $LIB_WASMER"
          echo "Found VM lib: $LIB_C_API"

          tar -cvf drt_go_scenario.tar "$SCENARIO_PATH" "$LIB_WASMER" "$LIB_C_API"

      - name: Upload sc-meta artifact
        uses: actions/upload-artifact@v6
        with:
          name: sc-meta-${{ github.run_id }}
          retention-days: 1
          overwrite: true
          path: sc_meta.tar

      - name: Upload drt-go-scenario artifact
        uses: actions/upload-artifact@v6
        with:
          name: drt-go-scenario-${{ github.run_id }}
          retention-days: 1
          overwrite: true
          path: drt_go_scenario.tar

      - name: Cleanup
        run: |
          rm -f binaryen-version_${{ inputs.wasm-opt-version }}-x86_64-linux.tar.gz
          rm -f sc_meta.tar
          rm -f drt_go_scenario.tar
          rm -rf binaryen-version_${{ inputs.wasm-opt-version }}